*{
  margin: 0%;
  padding: 0%;
}
body{
  font-size: 100px;
  background-color: #f4f4f4;
  font-family: "宋体";
}
ul{
  list-style: none;
}
.top-left li{
  display: inline;
  float: left;
  padding: 0 10px;
}
.top{
  width: 100%;
  height: 40px;
  background-color: rgb(237, 237, 237);
  display: block;
}
.top-left{
  float: left;
  padding: 10px 10px 10px 40px;
  font-size: .8rem;
}
.qqdl{
  color: #f55f1a;
}
.top-right li{
  display: inline;
  float: left;
  padding: 0 10px;
}
.top-right{
  float: right;
  padding: 10px 50px 10px 10px;
  font-size: .8rem;
}
.top-head{
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  height: 140px;
  justify-content: center;
}
.top-search{
  margin-left: 70px;
  margin-top: 30px;
}
.top-gif{
  float: left;
  width: 190px;
}
.logo-hover{
  width:190px;
  height:140px;
  left:0px;
  top:0px;
}
.search-tab{
	color: #ff5000;
  padding-left: 7px;
  margin-left: 12px;
	font-size: 12px
}
.search-tab span{
  padding: 3px 3px 2px 3px;
}
.box-input{
  border: 0px;
  outline: none;
  margin-left: 20px;
  font-size: 14px;
  margin-top: 10px;
  width: 500px;
  float: left;  
}
.search-box{
  border:2.3px solid #ff5000;
  border-radius:20px;
  height:.4em;
  width: 700px;
}
.search-button{
  min-width: 70px;
	padding: 11px 8px;
	background-color: #ff5000;
	border: 1.5px solid #ff5000;
	border-top-right-radius: 20px; 
	border-bottom-right-radius: 20px;
	float: right;
	margin-right: -1px;
	margin-top: -2px;
	outline: none;
	font-size: 14px;
}

.below-search{
	font-size: 13px;
	margin-top: 2px;
  white-space:nowrap;
  
}
.below-search a{
  color: black;
  text-decoration: none;
  padding: 1px
}
.below-search a:hover{
	color: #ff5000;
}
.top-gif {
  font-weight: bold;
  padding-left: 40px;
}
.tab-baobei{
  color: #FFF; 
  background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
  background-image: -o-linear-gradient(left,#ff9000 0,#ff5000 100%);
  background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.top-erwei{
  float: right;
  margin-left: 100px;
}
.top-erwei img{
  width: 62px;
  height: 62px;
}
.tb-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.body-left{
  font-size: 1rem;
  border: 1.5px solid #ff5000;
  width: 15.8vw;
  height: 103vh;
  background-color: #ffffff;
}
.body-left p{
  background-color: #ff5000;
  text-align: center;
  color: #FFF;
  line-height: 35px;
  width: 202px;  
  font-weight: 600;
}
.body-left li{
  padding-left: 2.6vw;
  font-size: .9rem;
  line-height: 35px;
  letter-spacing: 1px;
}
.middle-tb{
  font-size: .9rem;
  text-align: center;
  background-color: #ff9000;
  color: #FFF;
  height: 36px;
  line-height: 35px;
  width: 1000px;
}
.middle-tb li{
  display: inline;
  float: left;
  padding: 0 10px;
  font-weight: 600;
}
.tm{
  font-size: 1rem;
}
.four{
  display: flex;
  flex-direction: row;
}
.lxshstm{
  font-size: .8rem;
  width: 580px;
  padding: 0 0 0 .6vw;
}
.lunbo{
  width: 540px;
}
.fourthree{
  display: flex;
  flex-wrap: wrap;
  padding-left: .8vw;
}
.fourthreee{
  width: 88px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding:  20px;
  background-color: #FFF;
  width: 6.97vw;
  height: 6.56vh;
}
.wph{
  margin: 10px 10px 0 10px;
}
#wph{
  margin-bottom: -3vh;
}
.zaowujie{
  margin-top: 2vh;
}
.jrrm{
  font-size: .8rem;
}
.cpzq{
  width: 12.6vw;
  height: 40.6vh;
}
.yonghuzc{
  height: 95.4vh;
  background-color: #ffffff;
  margin-left: .8vw;
  margin-top: 2vh;
  width: 22.5vw;
}
.body-bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -2vh 0 2vh 0;
}
.tbtt{
  height: 20vh;
  width: 70.8vw;
  background-color: #ffffff;
  margin-right: .8vw;
}
.aliapp{
  height: 20vh;
  width: 22.5vw;
  background-color: #ffffff;
}
.five{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -1vh 0 2vh 0;
}
.five img{
  height: 17vh;
  background: #FFF;
  width: 18.4vw;
  border-radius: 10px;
  margin: .3vw;
}
.youai{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -1vh 0 2vh 0;
}
.aigj{
  height: 90vh;
  width: 46.8vw;
  margin-left: .8vw;
  background: #FFF;
}
.youhh{
  height: 90vh;
  width: 46.8vw;
  background: #FFF;
}