*{
  margin: 0%;
  padding: 0%;
}
body{
  font-size: 100px;
}
ul{
  list-style: none;
}
.top-left li{
  display: inline;
  float: left;
  padding: 0 10px;
}
.top{
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}
.top-left{
  float: left;
  padding: 10px 10px 10px 40px;
  font-size: .8rem;
}
.top-right li{
  display: inline;
  float: left;
  padding: 0 10px;
}
.top-right{
  float: right;
  padding: 10px 50px 10px 10px;
  font-size: .8rem;
}